*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

a{
    text-decoration: none;
    color: #3c96ed;
}

body{
    background: #fafafa;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#wrapper{
    height: 100vh;

}

#container {
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.column{
    flex-grow: 1; /* AS DUAS COLUNAS TENTAM OCUPAR O MESMO ESPAÇO */
    width: 50%;
}

.left{
    background-image: url("./assets/main-foto.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.right{
    padding-left: 20px;

}

.login-panel{
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    text-align: center;
    padding: 20px 0;
}

.logo-img{
    width: 175px ;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="password"], input[type="text"]{  /*  Escolhendo inputs por type */ 
    background-color: #FFFFFF;
    border: 1px solid rgb(236, 234, 234);
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
    color: black;
} 

input[type="password"]::placeholder, input[type="text"]::placeholder{  /*  Escolhendo inputs por type */ 
    color: rgb(165, 164, 164);
} 
input[type="password"]:focus, input[type="text"]:focus{  /*  Escolhendo inputs por type */ 
    border: 1px solid rgb(165, 164, 164);
} 

input[type="submit"]{  /*  Escolhendo inputs por type */ 
    background-color: #3c96ed;
    border: 0;
    height: 30px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    width: 320px;
    color: #FFFFFF;
    cursor: pointer;
}

.info-box{
    background-color: #FFFFFF;
    border: 1px solid rgb(236, 234, 234);
    height: 60px;
    margin: 10px auto 0; /* TOP, LEFT AND RIGHT, BOTTOM  */

    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box p {
    user-select: none;   /* Nao permite selecionar o parágrafo */
}

.info-box p a {
    font-weight: bold;
    user-select: none;  /* Nao permite selecionar o link */
}

.get-app{
    margin-top: 20px;
    text-align: center;
}

.app-buttons{
    margin-top: 16px;
}
.app-buttons img{
    height: 40px;
    padding: 0 2px ;
}

footer{
    text-align: center;
    height: 50px;
    margin-top: -50px;
}

footer a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
}

.year{
    font-size: 12px;
    font-weight: bold;
    color: grey;
    padding-left: 15px;
    display: inline-block;
}

/* Signup */

#container-signup {
    margin: 0 auto;
    min-height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
}

.message{
    margin: 10px 70px; /* TOP BUTTON LEFT RIGHT */
}

.message span{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px; /* Espaço entre uma linha e outra */
    color: gray;
}

.Facebook-button{
    width: 320px;
    margin: 10 0;
    height: 35px;
    background-color: #0095f6;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}